header{
    display: flex;
 justify-content: space-between;
    
}
.upbutton{
    margin-top: 2%;
    margin-right: 3%;
    justify-content: space-evenly;
}
.lang1,.sign{
width: 7rem;
height: 2rem;
font-size: larger;
}
.lang1{
background-color: black;
color: aliceblue;
}
.sign{
    background-color: red;
    color: white;
    border-color: red;
    margin-left: 2rem;
    
}
.logo{
    width: 15rem;
    height: 8rem;
    margin-top: 0.1rem;
    margin-left: 2rem;
}
main{
    text-align: center;

font-size:xx-large;
}
.mail{
    width: 35rem;
    height: 3rem;
    font-size: larger;
}
.mail1{
    height: 3.4rem;
    width: 15rem;
    font-size: larger;
    margin-right: 3%;
    background-color: red;
    color: white;
    border-color: red;
}body{
    background-image: url("./bzck.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:exclusion;
   
}
h1,h4,h6{
    color: white;
}

h6{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
h1{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-bottom: 0.1rem;
    }